<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

    <body>

        <header th:replace="fragments/commons::nav"></header>

        <main>
            <div class="container bg-blur rounded mt-5 ">
                <h1>Welcome to MyTutor</h1>
                <hr class="my-3 bg-white w-50"/>

                <p class="h4">My Tutor is the right place to:</p>
                <p class="h4"> - submit your tutoring offer.</p>
                <p class="h4"> - find a tutor in the area of informatics, mathematics or datascience.</p>

            </div>
        </main>

        <footer
                class="page-footer mt-auto text-center text-lg-start text-white fixed-bottom"
                style="background-color: #929fba"
        >

            <div class="container">

                <section class="">

                    <div class="row">

                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                MyTutor
                            </h6>
                            <p>
                                MyTutor is a project with the purpose of connecting students in need of a tutoring to another students ready to offer there tutoring sculls.
                            </p>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a class="text-white">Make a tutoring offer.</a>
                            </p>
                            <p>
                                <a class="text-white">Find your perfect tutor.</a>
                            </p>


                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> Sofia, ul. Praga 1001, BG</p>
                            <p><i class="fas fa-envelope mr-3"></i> MyTutorInfo@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 264 163 38</p>
                        </div>

                    </div>

                </section>

            </div>


        </footer>


    </body>


</html>