<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>

<!--    mx-auto: centers the element horizontally-->
<!--    w-25: Sets the width to 25% of the parent container.-->
<!--    bg-dark: Applies a dark background color.-->
<!--    p-3: Adds padding of 1rem (16px).-->
<!--    mt-4: Adds a top margin of 1.5rem (24px).-->

    <form class="mx-auto w-25 bg-dark rounded p-3 mt-4"
          th:action="@{/users/login}"
          th:method="POST"
          th:object="${userLogInDTO}"
    >

        <h1 class="text-center mt-2 text-white">Login</h1>



<!--        th:field="*{username}": Binds the input field to the username property in the th:object="${userLogInDTO}-->
<!--        If validation fails for this field, Thymeleaf automatically adds the Bootstrap is-invalid class, which highlights the input field in red.-->

        <div class="form-group">
            <label class="h4 text-white">Username:</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   th:field = "*{username}"
                   th:errorclass="is-invalid"
            />
        </div>

        <div class="form-group">
            <label class="h4 text-white">Password:</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   th:field = "*{password}"
                   th:errorclass="is-invalid"
            />
        </div>

<!--        d-flex: Applies display: flex;, making the container a flexbox.-->
<!--        justify-content-center: Centers the child elements horizontally within the flex container.-->

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3">Login</button>
        </div>

    </form>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>
