<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main>
    <div class="container bg-blur rounded mt-1 mb-2">

        <div class="row ">

            <div class="col-12 mt-1 mb-1">
                <div>

                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2 text-left rounded" th:text="|Username: ${userName}|"></h3>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2 text-left rounded" th:text="|Email: ${userEmail}|"></h3>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2 text-left rounded" th:text="|Number of classes: ${numberOfClasses}|+' Classes'"></h3>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2 text-left rounded" th:text="|Average Price all classes in BGN: ${averagePriceBGN}|+' Leva'"></h3>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2 text-left rounded" th:text="|Average Price all classes in EUR: ${averagePriceEUR}|+' Leva'"></h3>

                </div>

            </div>

            <div class="col-12 mt-1 mb-1">
                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2" >Offers submitted by me:</h3>
                    <div class="bg-dark rounded m-auto" style="height: 50vh; overflow: auto">
                        <table class="table table-striped table-dark">
                            <div th:each="w: ${submittedByMeTutorialsAsView}" th:object="${w}" class="mt-3 rounded badge-warning">

                                <span class="badge bg-primary">Offer name: </span> <span th:text="*{name}" />
                                <br>
                                <span class="badge bg-primary">Offer description: </span> <span class="limited-span" th:text="*{description}" /> </span>
                                <br>
                                <span class="badge bg-primary">Price per hoer (BGN): </span> <span th:text="*{price}" />
                                <br>
                                <a class="ml-3 text-danger" th:href="@{/tutoriels/remove/{id}(id = *{id})}">Remove</a>

                            </div>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>


</body>
</html>
